body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Figma variables */

  /* Spacing */
  --Padding-lg: 16px;
  --Radius-200: 8px;
  --Space-200: 8px;
  --Stroke-Border: 1px;

  /* Color */
  --Schemes-On-Primary: #fff;
  --Schemes-Tertiary: #7d5260;

  /* variables de cada front */

  /* Color */
  --color-antiquewhite: #faf0dd;
  --color-black: #000;
  --color-chocolate-100: #f8721f;
  --color-chocolate-200: #de5905;
  --color-darkgray-100: #999;
  --color-darkgray-200: rgba(161, 164, 177, 0.3);
  --color-darkslategray-100: #363342;
  --color-darkslategray-200: #333;
  --color-darkslategray-300: rgba(56, 61, 70, 0.1);
  --color-dimgray-100: #6c6d71;
  --color-dimgray-200: #4e4e4e;
  --color-dimgray-300: rgba(78, 78, 78, 0.2);
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #e4e4e5;
  --color-gainsboro-300: #dee2e6;
  --color-gainsboro-400: #d9d9d9;
  --color-gold-100: #f4e11b;
  --color-gold-200: #e6d445;
  --color-gold-300: #dbc703;
  --color-gray-100: #372121;
  --color-gray-200: #1f1f1f;
  --color-gray-300: #1e1e1e;
  --color-gray-400: #02000f;
  --color-gray-500: rgba(0, 0, 0, 0.42);
  --color-gray-600: rgba(117, 117, 117, 0.09);
  --color-gray-700: rgba(117, 117, 117, 0.2);
  --color-gray-800: rgba(19, 24, 43, 0.3);
  --color-linen: #f9e9e0;
  --color-mediumspringgreen: #3ad368;
  --color-silver-100: #c9c9cc;
  --color-silver-200: rgba(201, 201, 204, 0.09);
  --color-snow: #fffcfc;
  --color-whitesmoke-100: #f6f6f6;
  --color-whitesmoke-200: #f5f5f5;
  --Gray-00: #fff;
  --Gray-200: #c9cfd2;
  --Gray-700: #475156;
  --Gray-900: #191c1f;

  /* brecha (espacio) */
  --gap-8: 8px;
  --gap-10: 10px;
  --gap-12: 12px;
  --gap-15: 15px;
  --gap-16: 16px;
  --gap-30: 30px;
  --gap-1_6: 1.6px;
  --gap-11_7: 11.7px;
  --gap-9_1: 9.1px;

  /* relleno */
  --padding-0: 0px;
  --padding-01: 0;
  --padding-1: 1px;
  --padding-2: 2px;
  --padding-3: 3px;
  --padding-4: 4px;
  --padding-5: 5px;
  --padding-6: 6px;
  --padding-8: 8px;
  --padding-9: 9px;
  --padding-10: 10px;
  --padding-11: 11px;
  --padding-12: 12px;
  --padding-13: 13px;
  --padding-14: 14px;
  --padding-15: 15px;
  --padding-16: 16px;
  --padding-17: 17px;
  --padding-18: 18px;
  --padding-19: 19px;
  --padding-20: 20px;
  --padding-22: 22px;
  --padding-24: 24px;
  --padding-28: 28px;
  --padding-30: 30px;
  --padding-32: 32px;
  --padding-48: 48px;
  --padding-58: 58px;
  --padding-1_9: 1.9px;
  --padding-20_4: 20.4px;
  --padding-4_4: 4.4px;
  --padding-5_9: 5.9px;
  --padding-6_9: 6.9px;
  --padding-8_2: 8.2px;

  /* radio de borde */
  --br-0: 0px;
  --br-4: 4px;
  --br-8: 8px;
  --br-15: 15px;
  --br-16: 16px;
  --br-20: 20px;
  --br-24: 24px;
  --br-26: 26px;
  --br-30: 30px;
  --br-32: 32px;
  --br-50: 50px;
  --br-100: 100px;
  --br-120: 120px;
  --br-17_5: 17.5px;

  /* Font */
  --font-font-awesome-5-pro: Font Awesome 5 Pro;
  --font-fredoka: Fredoka;
  --font-inter: Inter;
  --font-oleo-script: Oleo Script;
  --font-onest: Onest;
  --font-public-sans: Public Sans;

  /* tamaño fuentes */
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-28: 28px;
  --fs-34: 34px;
  --fs-45: 45px;
  --fs-56: 56px;
  --fs-14_4: 14.4px;

  /* Bordes */
  --border-1: 5px solid var(--color-gray-800);
  --border-2: 1px solid var(--color-gray-400);
  --border-3: 2px solid var(--color-gray-400);
  --border-4: 1px solid var(--color-gainsboro-200);
  --border-5: 1px solid var(--color-silver-100);
  --border-6: 1px solid var(--Gray-200);

  /* AnchoAlturas */
  --height-2: 2px;
  --height-10: 10px;
  --height-13: 13px;
  --height-15: 15px;
  --height-16: 16px;
  --height-18: 18px;
  --height-20: 20px;
  --height-22: 22px;
  --height-26: 26px;
  --height-30: 30px;
  --height-32: 32px;
  --height-35: 35px;
  --height-36: 36px;
  --height-40: 40px;
  --height-48: 48px;
  --height-52: 52px;
  --height-55: 55px;
  --height-58: 58px;
  --height-64: 64px;
  --height-120: 120px;
  --height-0_7: 0.7px;
  --height-27_9: 27.9px;
  --height-39_4: 39.4px;
  --max-w-99: 99px;
  --max-w-277: 277px;
  --max-w-8_4: 8.4px;
  --min-w-40: 40px;
  --min-w-11_1: 11.1px;
  --min-w-8_4: 8.4px;
  --width-2: 2px;
  --width-13: 13px;
  --width-15: 15px;
  --width-16: 16px;
  --width-20: 20px;
  --width-22: 22px;
  --width-30: 30px;
  --width-35: 35px;
  --width-40: 40px;
  --width-48: 48px;
  --width-68: 68px;
  --width-120: 120px;
  --width-124: 124px;
  --width-168: 168px;
  --width-284: 284px;
  --width-1440: 1440px;
  --width-1_5: 1.5px;

  /* alturas de luz */
  --lh-12: 12px;
  --lh-14: 14px;
  --lh-16: 16px;
  --lh-18: 18px;
  --lh-19: 19px;
  --lh-20: 20px;
  --lh-24: 24px;
  --lh-26: 26px;
  --lh-28: 28px;
  --lh-32: 32px;
  --lh-35: 35px;
  --lh-48: 48px;
  --lh-64: 64px;
  --lh-72: 72px;
  --lh-110: 110px;

  /* Opacidades */
  --opacity-0: 0;

  --left-0: 0px;
  --left-2: 2px;
  --left-4: 4px;
  --left-30: 30px;
  --left-60: 60px;
  --left--2: -2px;
  --top-0: 0px;
  --top-2: 2px;
  --top-11: 11px;
  --top--26_7: -26.7px;
  --top-calc50-15_5: calc(50% - 15.5px);
}
